

@model IEnumerable<TradeASP.Models.Good>
@{
    ViewBag.Title = "Все товар";
}


<table class="table">
    <tr><td>Название</td><td> Цена</td><td>Доставка</td><td>Описание</td></tr>
    <a asp-action="Create">Добавить товар</a>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.name</td>
        <td>@item.price</td>
        <td>@item.delivery</td>
        <td>@item.description</td>
        <td>
            <a asp-action="Details" asp-controller="Home" asp-route-id="@item.id">Подробнее</a> |
            <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.id">Изменить</a> |
            <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.id">Удалить</a>
        </td>
    </tr>
    }
</table>


